/* Utility classes */

/* Clearfix for floats */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Text Centering */
.text-center {
    text-align: center;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Padding */
.p-1 {
    padding: 0.5rem;
}

.p-2 {
    padding: 1rem;
}

.p-3 {
    padding: 1.5rem;
}

/* Margin */
.m-1 {
    margin: 0.5rem;
}

.m-2 {
    margin: 1rem;
}

.m-3 {
    margin: 1.5rem;
}
